.register-page {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-image: url("/assets/login-background.png");
  background-position: center;

  .content {

    /*PUT YOUR CODE HERE*/

  }
}
