<div class="acs-books-list">
  <div class="list">
    <div class="book" *ngFor="let book of bookslist">
      <div class="book-cover-wrapper">
        <div class="book-cover">
          <img [src]="book.imageUrl" alt="Book cover">
        </div>
      </div>
      <div class="right-column">
        <div class="book-info">
          <div class="title elem">
            <div class="key">Title</div>
            <div class="value">{{book.title}}</div>
          </div>
          <div class="author elem">
            <div class="key">Author</div>
            <div class="value">{{book.author}}</div>
          </div>
          <div class="description elem">
            <div class="key">Description</div>
            <div class="value">{{book.description}}</div>
          </div>
          <div class="quantity">
            <span>{{book.quantity}}</span>
            <span>{{book.quantity === 1?"book":"books"}} left</span>
          </div>
        </div>
        <button class="borrow" (click)="borrowBook(book)">
          Borrow
        </button>
      </div>
    </div>
  </div>
</div>
